<a href="https://colab.research.google.com/github/rvaldivia95/CharityML/blob/master/DecisionTree_Charity.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np

from sklearn import tree
from sklearn.tree import DecisionTreeClassifier, export_graphviz
from sklearn.model_selection import train_test_split

from matplotlib import pyplot as plt
import seaborn as sns

import graphviz
import pydotplus
import io
from scipy import misc

%matplotlib inline

In [0]:
# Colab library to upload files to notebook
from google.colab import files

# Install Kaggle library
!pip install -q kaggle

In [0]:
# Upload kaggle API key file
uploaded = files.upload()

Saving kaggle.json to kaggle.json

In [0]:
!pip install kaggle

!mkdir ~/.kaggle
!touch ~/.kaggle/kaggle.json

api_token = {"username":"raimundovb","key":"7f8e2800afe7469feb9049847de092fe"}

import json

with open('/root/.kaggle/kaggle.json', 'w') as file:
    json.dump(api_token, file)

!chmod 600 ~/.kaggle/kaggle.json

!kaggle config path -p /content

Requirement already satisfied: kaggle in /usr/local/lib/python3.6/dist-packages (1.5.6)
Requirement already satisfied: certifi in /usr/local/lib/python3.6/dist-packages (from kaggle) (2019.11.28)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.12.0)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.21.0)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.6.1)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.0.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.28.1)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (2.8)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.6/dist-packages (from python-slugify->kaggle) (1.3)
usage: kaggle config [-h] {view,set,unset} ...
kaggle config: error: argument command: invalid choice: 'path' (choose from 'view', 'set', 'unset')

In [0]:
!kaggle competitions download -c udacity-mlcharity-competition

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.6 / client 1.5.4)
Downloading test_census.csv.zip to /content
  0% 0.00/512k [00:00<?, ?B/s]
100% 512k/512k [00:00<00:00, 70.1MB/s]
Downloading census.csv.zip to /content
  0% 0.00/437k [00:00<?, ?B/s]
100% 437k/437k [00:00<00:00, 61.8MB/s]
Downloading example_submission.csv to /content
  0% 0.00/342k [00:00<?, ?B/s]
100% 342k/342k [00:00<00:00, 104MB/s]

In [0]:
import pandas as pd
data = pd.read_csv('census.csv.zip', compression='zip', header=0, sep=',', quotechar='"')

In [0]:
data.head()

   age          workclass  ...  native-country  income
0   39          State-gov  ...   United-States   <=50K
1   50   Self-emp-not-inc  ...   United-States   <=50K
2   38            Private  ...   United-States   <=50K
3   53            Private  ...   United-States   <=50K
4   28            Private  ...            Cuba   <=50K

[5 rows x 14 columns]

In [0]:
data['income'].replace("<=50K",0, inplace = True)
data['income'].replace(">50K",1, inplace = True)

In [0]:
labels_workclass, uniques_workclass = pd.factorize(data["workclass"])
labels_education_level, uniques_education_level = pd.factorize(data["education_level"])
labels_marital_status, uniques_marital_status = pd.factorize(data["marital-status"])
labels_occupation, uniques_occupation = pd.factorize(data["occupation"])
labels_race , uniques_race = pd.factorize(data["race"])
labels_relationship 	, uniques_relationship = pd.factorize(data["relationship"])
labels_sex 	, uniques_sex 	 = pd.factorize(data["sex"])
labels_native_country, uniques_native_country = pd.factorize(data["native-country"])

In [0]:
print("Numeric Representation : \n", labels_native_country) 
print("Unique Values : \n", uniques_native_country) 
np.shape(labels_native_country)

data["workclass"]= labels_workclass
data['education_level'] = labels_education_level
data['marital-status'] = labels_marital_status
data['occupation'] = labels_occupation
data['race'] = labels_race
data['relationship'] = labels_relationship
data['sex'] = labels_sex
data['native-country'] = labels_native_country

dataf = data.drop(columns=['education-level'])

dataf.head()

Numeric Representation :
 [0 0 0 ... 0 0 0]
Unique Values :
 Index([' United-States', ' Cuba', ' Jamaica', ' India', ' Mexico',
       ' Puerto-Rico', ' Honduras', ' England', ' Canada', ' Germany', ' Iran',
       ' Philippines', ' Poland', ' Columbia', ' Cambodia', ' Thailand',
       ' Ecuador', ' Laos', ' Taiwan', ' Haiti', ' Portugal',
       ' Dominican-Republic', ' El-Salvador', ' France', ' Guatemala',
       ' Italy', ' China', ' South', ' Japan', ' Yugoslavia', ' Peru',
       ' Outlying-US(Guam-USVI-etc)', ' Scotland', ' Trinadad&Tobago',
       ' Greece', ' Nicaragua', ' Vietnam', ' Hong', ' Ireland', ' Hungary',
       ' Holand-Netherlands'],
      dtype='object')

   age  workclass  education_level  ...  hours-per-week  native-country  income
0   39          0                0  ...            40.0               0       0
1   50          1                0  ...            13.0               0       0
2   38          2                1  ...            40.0               0       0
3   53          2                2  ...            40.0               0       0
4   28          2                0  ...            40.0               1       0

[5 rows x 14 columns]

In [0]:
dataf.head(100)

    age  workclass  education_level  ...  hours-per-week  native-country  income
0    39          0                0  ...            40.0               0       0
1    50          1                0  ...            13.0               0       0
2    38          2                1  ...            40.0               0       0
3    53          2                2  ...            40.0               0       0
4    28          2                0  ...            40.0               1       0
..  ...        ...              ...  ...             ...             ...     ...
95   20          2                5  ...            40.0               0       0
96   29          2                1  ...            40.0               0       0
97   32          5                1  ...            40.0               0       1
98   30          2                2  ...            40.0               0       0
99   31          4                1  ...            40.0               0       0

[100 rows x 14 columns]

In [0]:
train, test = train_test_split(dataf, test_size = 0.15)
print("Training size: {}; Test size: {}".format(len(train), len(test)))

Training size: 38438; Test size: 6784

In [0]:
c = DecisionTreeClassifier(min_samples_split = 100)

In [0]:
features= ["age" ,	"workclass" ,	"education_level" ,	"education-num" ,	"marital-status" ,	"occupation" ,	"relationship" ,	"race" ,	"sex" ,	"capital-gain" ,	"capital-loss" ,	"hours-per-week" ,	"native-country"]

In [0]:
X_train = train[features]
Y_train= train["income"]

X_test = train[features]
Y_test= train["income"]

In [0]:
dt = c.fit(X_train, Y_train)

In [0]:
def show_tree(tree, features, path):
  f = io.StringIO()
  export_graphviz(tree, out_file=f, feature_names=features)
  pydotplus.graph_from_dot_data(f.getvalue()).write_png(path)
  img = plt.imread(path)
  plt.rcParams["figure.figsize"] = [20, 20]
  plt.imshow(img)

In [0]:
show_tree(dt,features,'dec_tree_01.png')

       age  workclass  ...  hours-per-week  native-country
27095   45          1  ...            20.0               0
17571   21          2  ...            24.0               0
25544   50          2  ...            40.0               0
15102   38          2  ...            40.0               0
36112   30          2  ...            36.0               0

[5 rows x 13 columns]

In [0]:
y_pred = c.predict(X_test)

In [0]:
from sklearn.metrics import accuracy_score

score = accuracy_score(Y_test, y_pred) * 100

In [0]:
print(" Validation Accuracy using Decision Tree: ", round(score, 1), "%")

 Accuracy using Decision Tree:  87.4 %

In [0]:
data_test = pd.read_csv('test_census.csv.zip', compression='zip', header=0, sep=',', quotechar='"')
data_test.head(100)

    Unnamed: 0   age  ... hours-per-week  native-country
0            0  21.0  ...           40.0   United-States
1            1  49.0  ...           40.0   United-States
2            2  44.0  ...           99.0   United-States
3            3  34.0  ...           46.0   United-States
4            4  24.0  ...           40.0   United-States
..         ...   ...  ...            ...             ...
95          95  48.0  ...           50.0   United-States
96          96  40.0  ...           40.0   United-States
97          97  32.0  ...           40.0   United-States
98          98  24.0  ...           50.0   United-States
99          99  72.0  ...           30.0   United-States

[100 rows x 14 columns]

In [0]:
labels_workclass, uniques_workclass = pd.factorize(data_test["workclass"])
labels_education_level, uniques_education_level = pd.factorize(data_test["education_level"])
labels_marital_status, uniques_marital_status = pd.factorize(data_test["marital-status"])
labels_occupation, uniques_occupation = pd.factorize(data_test["occupation"])
labels_race , uniques_race = pd.factorize(data_test["race"])
labels_relationship 	, uniques_relationship = pd.factorize(data_test["relationship"])
labels_sex 	, uniques_sex 	 = pd.factorize(data_test["sex"])
labels_native_country, uniques_native_country = pd.factorize(data_test["native-country"])

data_test["workclass"]= labels_workclass
data_test['education_level'] = labels_education_level
data_test['marital-status'] = labels_marital_status
data_test['occupation'] = labels_occupation
data_test['race'] = labels_race
data_test['relationship'] = labels_relationship
data_test['sex'] = labels_sex
data_test['native-country'] = labels_native_country

data_test.head(100)

    Unnamed: 0   age  workclass  ...  capital-loss  hours-per-week  native-country
0            0  21.0          0  ...           0.0            40.0               0
1            1  49.0          0  ...           0.0            40.0               0
2            2  44.0          1  ...           0.0            99.0               0
3            3  34.0          0  ...           0.0            46.0               0
4            4  24.0          0  ...           0.0            40.0               0
..         ...   ...        ...  ...           ...             ...             ...
95          95  48.0          2  ...        1876.0            50.0               0
96          96  40.0          2  ...           0.0            40.0               0
97          97  32.0          0  ...           0.0            40.0               0
98          98  24.0          0  ...           0.0            50.0               0
99          99  72.0          0  ...           0.0            30.0               0

[100 rows x 14 columns]

In [0]:
data_test.isnull().values.any()
data_test.isnull().sum()
data_testf = data_test.fillna(-1)
data_testf = data_testf.drop(columns="Unnamed: 0")

In [0]:
result = c.predict(data_testf)

In [0]:
real_results = pd.read_csv('example_submission.csv', header=0, sep=',', quotechar='"')
real_results.head()

id = np.arange(0, 45222, 1).tolist()


d = {'id': id, 'income': result}

df = pd.DataFrame(data=d)

df

          id  income
0          0       0
1          1       0
2          2       0
3          3       1
4          4       0
...      ...     ...
45217  45217       0
45218  45218       0
45219  45219       0
45220  45220       1
45221  45221       0

[45222 rows x 2 columns]